<div class="beer-partial">
  {{!-- we are creating partial because this piece of code will 
    be repeated multiple times through the whole app   --}}
  <div class="partial-img">
    <img src="{{ image_url }}" width="200" alt="">
  </div>
  <div class="partial-text">
    <h3>Name: {{ name }}</h3>
    <h4>Tagline: {{ tagline }}</h4>
    <p>Description: {{ description }}</p>
    <p>First brewed: {{ first_brewed }}</p>
    <p>Abv: {{abv}}</p>
    <p>Ibu: {{ibu}}</p>
    <p>Ebc: {{ebc}}</p>
    <p>Srm: {{srm}}</p>
    <p>PH: {{ph}}</p>
    <p>Attenuation_level: {{attenuation_leve}}</p>
    <a href="/beers">Back to the beer list</a>
  </div>
</div>